<div class="container">
   <div class="nav">
      <header class="nav-header">
         <h2><a routerLink="/home">ski jumping</a></h2>
      </header>
      <ul class="nav-bar">
         <li class="nav-bar-link"><a routerLink="/home">home</a></li>
         <li class="nav-bar-line"></li>
         <li class="nav-bar-link"><a routerLink="/rank">rank</a></li>
         <li class="nav-bar-line"></li>
         <li class="nav-bar-link"><a routerLink="/list">list</a></li>
      </ul>
   </div>
</div>

<router-outlet></router-outlet>