<div class="container">
   <div class="nav">
      <header class="nav-header">
         <h2><a href="/">ski jumping</a></h2>
      </header>
      <ul class="nav-bar">
         <li class="nav-bar-link"><a href="/">home</a></li>
         <li class="nav-bar-line"></li>
         <li class="nav-bar-link"><a href="/rank">ranking</a></li>
         <li class="nav-bar-line"></li>
         <li class="nav-bar-link"><a href="/list">lista</a></li>
      </ul>
   </div>
</div>

<router-outlet></router-outlet>